.projects {
  padding: 100px 50px 0;
}

.projects-heading {
  margin: 0 0 50px 100px;
  font-size: 20px;
}

.myFlex {
  display: flex;
  align-items: center;
  gap: 2px;
}

.myFlex img {
  transform: rotate(-45deg);
}

.projects-cont {
  display: flex;
  padding: 50px 100px;
  border-bottom: 1px solid #33333346;
}
.projects-cont:last-child {
  border-bottom: 0px;
}

.projects-cont1 {
  flex-basis: 50%;
}

.projects-cont1 h2 {
  margin-bottom: 20px;
  color: #333333;
}

.projects-cont1 p {
  line-height: 24px;
  color: #333333;
  font-size: 15px;
  width: 450px;
}

.okay {
  margin-bottom: 20px;
}

.p-head .heading {
  font-weight: 600;
}

.p-head {
  margin: 10px 0;
}

.p-head a {
  color: #ff8c00;
}

.projects-cont2 {
  flex-basis: 50%;
}

.projects-cont2 img {
  width: 450px;
  object-fit: contain;
  object-position: top;
  border-radius: 16px;
  box-shadow: 0px 0px 10px #33333315;
}

@media (max-width: 767px) {
  .projects {
    padding: 30px 3%;
  }

  .projects-cont {
    padding: 50px 0;
    gap: 20px;
    flex-direction: column;
  }

  .projects-heading {
    margin: 0;
    font-size: 18px;
  }

  .projects-cont1 p {
    font-size: 14px;
    line-height: 20px;
    width: 90%;
  }

  .projects-cont1 h2 {
    width: 70%;
    margin-bottom: 10px;
  }

  .projects-cont2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .projects-cont2 img {
    width: 100%;
  }
}
